@import "tailwindcss";

body {
  background-color:azure;
}

/* ============================= */
/* Global Font Family */
/* ============================= */

body,
button,
input,
textarea {
  font-family: "Inter", Arial, sans-serif;
}



/* Optional: smooth text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Example headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", Arial, sans-serif;
}
